release/itemCar.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Volvo</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="container-fluid">
          <div class="header__first">
            <div class="row">
              <div class="col-4 col-lg-5 d-flex align-items-center"><span class="dealer">Название дилера</span></div>
              <div class="col-4 col-lg-2 d-flex justify-content-center align-items-center"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo"></a></div>
              <div class="col-lg-5 d-none d-lg-flex justify-content-end align-items-center "><span class="header__adres">Бульвар Рокоссовского 28</span><a class="phone" href="tel:+74957777777">+7 495 777 77 77</a></div>
              <div class="col-4 d-flex d-lg-none justify-content-end align-items-center "><a href="tel:+74957777777"><img class="lazyload" data-src="images/phonemenu.svg"></a></div>
            </div>
          </div>
          <div class="header__second">
            <div class="row">
              <div class="col-12">
                <div class="d-block d-lg-none navigation__item navigation__item_mob">item</div>
                <div class="d-lg-none navigation__mobile">
                  <div class="navigation__item navigation__item_dropdown_mobile">
                    <div class="d-flex justify-content-between"><a class="navigation__item" href="#">Автомобили</a><span class="navigation__item_arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
</svg></span></div>
                    <div class="header__deep"><a href="#">Финансовые услуги</a><a href="#">Персональное предложение</a><a href="#">Спецпредложения</a><a href="#">Финансовые услуги</a></div>
                  </div>
                  <div class="navigation__item navigation__item_dropdown_mobile">
                    <div class="d-flex justify-content-between"><a class="navigation__item" href="#">Покупателям</a><span class="navigation__item_arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
</svg></span></div>
                    <div class="header__deep"><a href="#">Финансовые услуги</a><a href="#">Персональное предложение</a><a href="#">Спецпредложения</a><a href="#">Финансовые услуги</a></div>
                  </div>
                  <div><a class="navigation__item" href="#">Владельцам</a></div>
                  <div><a class="navigation__item" href="#">Спецпредложения</a></div>
                  <div><a class="navigation__item" href="#">Конфигуратор</a></div>
                  <div><a class="navigation__item" href="#">Контакты</a></div>
                </div>
                <nav class="d-none d-lg-flex navigation">
                  <div class="navigation__item navigation__item_active navigation__item_dropdown"><a href="#">Автомобили</a>
                    <div class="header__deep"><a href="#">Финансовые услуги</a><a href="#">Персональное предложение</a><a href="#">Спецпредложения</a><a href="#">Финансовые услуги</a></div>
                  </div><a class="navigation__item" href="#">Покупателям</a><a class="navigation__item" href="#">Владельцам</a><a class="navigation__item" href="#">Спецпредложения</a><a class="navigation__item" href="#">Конфигуратор</a><a class="navigation__item" href="#">Контакты</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="item-car">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="item-car__preview">
                  <div class="item-car__preview__left"><img class="lazyload" data-src="images/itemCar/p.png" alt="img"></div>
                  <div class="item-car__preview__right"><img class="ci lazyload" data-src="images/itemCar/1.png" alt="img"><img class="ci lazyload" data-src="images/itemCar/2.png" alt="img"><img class="ci lazyload" data-src="images/itemCar/3.png" alt="img"><img class="ci lazyload" data-src="images/itemCar/4.png" alt="img"><img class="ci lazyload" data-src="images/itemCar/5.png" alt="img"><img class="ci lazyload" data-src="images/itemCar/6.png" alt="img"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h1 class="h2">Volvo S60</h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item"><a href="#">Автомобили с проблегом</a></li>
<li class="breadcrumb-item active" aria-current="page">Поиск</li>
</ol>
</nav>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8 order-2 order-lg-1">
                <div class="item-car__header d-flex justify-content-between">
                  <div><span>Кузов</span><span>Седан</span></div>
                  <div><span>Пробег</span><span>82200км</span></div>
                  <div><span>Год выпуска</span><span>2015</span></div>
                  <div><span>Двигатель</span><span>2,0/180 л.с</span></div>
                  <div><span>Топливо</span><span>Бензин</span></div>
                  <div><span>Трансмиссия</span><span>Автоматическая</span></div>
                  <div><span>Привод</span><span>Полный</span></div>
                </div>
                <div>
                  <h2 class="item-car__title">Описание</h2>
                  <p class="pb-5">Репутация для нас превыше всего! Только проверенные и юридически чистые автомобили с реальной историей. Удобное расположение - 50м от ст. метро Тульская. Наши приоритеты: • Комплексная диагностика каждого автомобиля • Покупка в кредит и за наличные / любая форма оплаты • Выгодный TRADE-IN на новый автомобиль и автомобиль с пробегом • Выкуп / комиссия автомобилей • Без доп.накруток (оформление без ИТП) • Индивидуальный подход • Особые бонусы • Более 20 лет успешной работы!</p>
                  <h2 class="item-car__title">Комплектация</h2>
                  <table class="table">
                    <tr>
                      <td>Функция мигания стоп-сигналов при экстренном торможении</td>
                      <td>Надувные занавесы безопасности, IC</td>
                    </tr>
                    <tr>
                      <td>Подушки безопасности водителя и пассажира</td>
                      <td>Система защиты от плетевых травм WHIPS, передние сиденья</td>
                    </tr>
                    <tr>
                      <td>Сигнализация непристегнутого ремня безопасности, все сиденья</td>
                      <td>Ремни безопасности с преднатяжителями (передние, задние)</td>
                    </tr>
                    <tr>
                      <td>Подушка безопасности коленей водителя</td>
                      <td>Крепление для детского сиденья, ISOFIX</td>
                    </tr>
                    <tr>
                      <td>Боковые подушки безопасности SIPS</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-12 col-lg-4 order-1 order-lg-2 pt-5 pt-lg-0">
                <div class="d-flex flex-column align-items-end"><span class="item-car__price mb-4">1 170 000 ₽</span><a class="btn btn_color-main btn_fat mb-4" href="#">
                    Купить<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
</svg></a><a class="btn btn_color-main btn_fat btn_no-border fd" href="#">
                    Заявка на кредит<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
</svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="d-none d-lg-flex navigation">
              <div class="navigation__item navigation__item_active navigation__item_dropdown"><a href="#">Автомобили</a>
                <div class="header__deep"><a href="#">Финансовые услуги</a><a href="#">Персональное предложение</a><a href="#">Спецпредложения</a><a href="#">Финансовые услуги</a></div>
              </div><a class="navigation__item" href="#">Покупателям</a><a class="navigation__item" href="#">Владельцам</a><a class="navigation__item" href="#">Спецпредложения</a><a class="navigation__item" href="#">Конфигуратор</a><a class="navigation__item" href="#">Контакты</a>
            </nav>
            <div class="d-lg-none navigation__mobile">
              <div class="navigation__item navigation__item_dropdown_mobile mb-4">
                <div class="d-flex justify-content-between"><a class="navigation__item" href="#">Автомобили</a><span class="navigation__item_arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
</svg></span></div>
                <div class="header__deep">
                  <div class="d-flex justify-content-center"><a href="#">Финансовые услуги</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Персональное предложение</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Спецпредложения</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Финансовые услуги</a></div>
                </div>
              </div>
              <div class="navigation__item navigation__item_dropdown_mobile mb-4">
                <div class="d-flex justify-content-between"><a class="navigation__item" href="#">Покупателям</a><span class="navigation__item_arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
</svg></span></div>
                <div class="header__deep">
                  <div class="d-flex justify-content-center"><a href="#">Финансовые услуги</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Персональное предложение</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Спецпредложения</a></div>
                  <div class="d-flex justify-content-center"><a href="#">Финансовые услуги</a></div>
                </div>
              </div>
              <div class=" mb-4 d-flex justify-content-center"><a class="navigation__item" href="#">Владельцам</a></div>
              <div class=" mb-4 d-flex justify-content-center"><a class="navigation__item" href="#">Спецпредложения</a></div>
              <div class=" mb-4 d-flex justify-content-center"><a class="navigation__item" href="#">Конфигуратор</a></div>
              <div class=" mb-4 d-flex justify-content-center"><a class="navigation__item" href="#">Контакты</a></div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center"><a class="footer__name" href="#"><span>Название дилера</span></a></div>
          <div class="col-12 d-flex justify-content-center"><a class="footer__name" href="#"><span>Адрес дилера</span></a></div>
          <div class="col-12">
            <div class="social"><a class="social__item" href="#"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
<g>
<path d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160 C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48 h192c61.76,0,112,50.24,112,112V352z"/>
</g>
</g>
<g>
<g>
<path d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z"/>
</g>
</g>
<g>
<g>
<circle cx="393.6" cy="118.4" r="17.056"/>
</g>
</g>
</svg></a><a class="social__item" href="#"><svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
<g>
<path d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096C512,181.088,504.704,138.592,490.24,113.92z M192,352V160l160,96L192,352z"/>
</g>
</g>
</svg></a><a class="social__item" href="#"><svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
<path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h151v-181h-60v-90h60v-61c0-49.628906 40.371094-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm0 0"/>
</svg></a><a class="social__item" href="#"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.962 511.962" style="enable-background:new 0 0 511.962 511.962;" xml:space="preserve">
<g>
<g>
<path d="M507.399,370.471c-1.376-2.304-9.888-20.8-50.848-58.816c-42.88-39.808-37.12-33.344,14.528-102.176c31.456-41.92,44.032-67.52,40.096-78.464c-3.744-10.432-26.88-7.68-26.88-7.68l-76.928,0.448c0,0-5.696-0.768-9.952,1.76c-4.128,2.496-6.784,8.256-6.784,8.256s-12.192,32.448-28.448,60.032c-34.272,58.208-48,61.28-53.6,57.664c-13.024-8.416-9.76-33.856-9.76-51.904c0-56.416,8.544-79.936-16.672-86.016c-8.384-2.016-14.528-3.36-35.936-3.584c-27.456-0.288-50.72,0.096-63.872,6.528c-8.768,4.288-15.52,13.856-11.392,14.4c5.088,0.672,16.608,3.104,22.72,11.424c7.904,10.72,7.616,34.848,7.616,34.848s4.544,66.4-10.592,74.656c-10.4,5.664-24.64-5.888-55.2-58.72c-15.648-27.04-27.488-56.96-27.488-56.96s-2.272-5.568-6.336-8.544c-4.928-3.616-11.84-4.768-11.84-4.768l-73.152,0.448c0,0-10.976,0.32-15.008,5.088c-3.584,4.256-0.288,13.024-0.288,13.024s57.28,133.984,122.112,201.536c59.488,61.92,127.008,57.856,127.008,57.856h30.592c0,0,9.248-1.024,13.952-6.112c4.352-4.672,4.192-13.44,4.192-13.44s-0.608-41.056,18.464-47.104c18.784-5.952,42.912,39.68,68.48,57.248c19.328,13.28,34.016,10.368,34.016,10.368l68.384-0.96C488.583,400.807,524.359,398.599,507.399,370.471z"/>
</g>
</g>
</svg></a></div>
          </div>
          <div class="col-12">
            <div class="footer__down"><a class="footer__link" href="#">Cookies</a><a class="footer__link" href="#">Юридическая информация</a><a class="footer__link" href="#">Конфиденциальность и персональные данные</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="sidebar"><a class="sidebar__link" href="#" data-toggle="modal" data-target=".test"><img class="lazyload" data-src="images/car.svg" alt="car"><span>Запись на<br>тест-драйв</span></a><a class="sidebar__link" href="#" data-toggle="modal" data-target=".callback"><img class="lazyload" data-src="images/phone.svg" alt="car"><span>Заказать<br>звонок</span></a></div><div class="modal fade test" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header d-flex justify-content-center align-items-center">
<h5 class="modal-title" id="exampleModalLabel">Запись Тест-драйв</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <iframe src="https://www.volvocars.com/ru/buy/design-and-buy/DLBi%20Testdrive%20dealer%20page?dealerId=AD4X7&amp;amp;iframe=1" width="100%" height="400px"></iframe></div>
</div>
</div>
</div>
<div class="modal fade callback" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header d-flex justify-content-center align-items-center">
<h5 class="modal-title" id="exampleModalLabel">ФОРМА ОБРАТНОЙ СВЯЗИ</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <form class="form">
      <div class="form__row form__row_50">
        <label>Имя
          <input type="text" placeholder="">
        </label>
        <label>Телефон
          <input type="tel" placeholder="">
        </label>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn">Отправить</button>
      </div>
    </form></div>
</div>
</div>
</div>
  </body>
  <script src="js/main.min.js"></script>
</html>

source/html/itemCar.pug
extends base.pug
block content
	div(class="item-car")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12")
					div(class="item-car__preview")
						div(class="item-car__preview__left")
							img(class="lazyload" data-src="images/itemCar/p.png" alt="img")
						div(class="item-car__preview__right")
							img(class="ci lazyload" data-src="images/itemCar/1.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/2.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/3.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/4.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/5.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/6.png" alt="img")
			div(class="row")
				div(class="col-12")
					h1(class="h2")
						| Volvo S60
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Главная</a></li>
							<li class="breadcrumb-item"><a href="#">Автомобили с проблегом</a></li>
							<li class="breadcrumb-item active" aria-current="page">Поиск</li>
						</ol>
					</nav>
			div(class="row")
				div(class="col-12 col-lg-8 order-2 order-lg-1")
					div(class="item-car__header d-flex justify-content-between")
						div()
							span
								| Кузов
							span
								| Седан
						div()
							span
								| Пробег
							span
								| 82200км
						div()
							span
								| Год выпуска
							span
								| 2015
						div()
							span
								| Двигатель
							span
								| 2,0/180 л.с
						div()
							span
								| Топливо
							span
								| Бензин
						div()
							span
								| Трансмиссия
							span
								| Автоматическая
						div()
							span
								| Привод
							span
								| Полный
					div()
						h2(class="item-car__title")
							| Описание
						p(class="pb-5")
							| Репутация для нас превыше всего! Только проверенные и юридически чистые автомобили с реальной историей. Удобное расположение - 50м от ст. метро Тульская. Наши приоритеты: • Комплексная диагностика каждого автомобиля • Покупка в кредит и за наличные / любая форма оплаты • Выгодный TRADE-IN на новый автомобиль и автомобиль с пробегом • Выкуп / комиссия автомобилей • Без доп.накруток (оформление без ИТП) • Индивидуальный подход • Особые бонусы • Более 20 лет успешной работы!
						h2(class="item-car__title")
							| Комплектация
						table(class="table")
							tr
								td
									| Функция мигания стоп-сигналов при экстренном торможении
								td
									| Надувные занавесы безопасности, IC
							tr
								td
									| Подушки безопасности водителя и пассажира
								td
									| Система защиты от плетевых травм WHIPS, передние сиденья
							tr
								td
									| Сигнализация непристегнутого ремня безопасности, все сиденья
								td
									| Ремни безопасности с преднатяжителями (передние, задние)
							tr
								td
									| Подушка безопасности коленей водителя
								td
									| Крепление для детского сиденья, ISOFIX
							tr
								td
									| Боковые подушки безопасности SIPS

				div(class="col-12 col-lg-4 order-1 order-lg-2 pt-5 pt-lg-0")
					div(class="d-flex flex-column align-items-end")
						span(class="item-car__price mb-4")
							| 1 170 000 ₽
						a(href="#" class="btn btn_color-main btn_fat mb-4")
							| Купить
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
						a(href="#" class="btn btn_color-main btn_fat btn_no-border fd")
							| Заявка на кредит
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
